### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

In [2]:
with open("test.txt" , "w") as file:
    file.write(test1)

---------------------------------------------------------------
### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
test2 = open("test.txt" , "r")

In [4]:
test2.read()

'This is a test of the emergency text system,'

--------------------------------------------------------------
### 3. Create a CSV file called books.csv by using these lines:
    title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
	Perdido Street Station,China Miéville,2000
	Thud!,Terry Pratchett,2005
	The Spellman Files,Lisa Lutz,2007
	Small Gods,Terry Pratchett,1992

In [5]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)
    
with open('books.csv','r',newline='') as file:
    for line in file.readlines():
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

---------------------------------------------------------
### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [10]:
import sqlite3
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
cursor.execute('drop table if exists books')
cursor.execute('create table books(title varchar(20) , author varchar(20) , year int)')
conn.commit()

---------------------------------------------------------------
### 5. Read books.csv and insert its data into the book table.

In [11]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

-------------------------------------------------------------
### 6. Select and print the title column from the book table in alphabetical order.

In [13]:
cursor.execute('select title from books order by title asc')
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

----------------------------------------------------------------------------------
### 7. From the book table, select and print all columns in the order of publication.

In [14]:
cursor.execute('select * from books order by year')
print(cursor.fetchall())

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

--------------------------------------------------------------
### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [15]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

------------------------------------------------------------------------
### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [16]:
pip install redis

Collecting redis
  Downloading redis-4.5.1-py3-none-any.whl (238 kB)
     -------------------------------------- 238.5/238.5 kB 4.9 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test', 'count', 1)
conn.hset('test', 'name', 'Fester Bestertester')
conn.hgetall('test')

----------------------------------------------------------
### 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)